#### pandas is a software library written for the Python programming language for data manipulation and analysis.
#### In particular, it offers data structures and operations for manipulating numerical tables and time series. 
#### It is free software released under the three-clause BSD license.

In [1]:
## Import necessary libraries and setup the working directory
import pandas as pd
import os

In [2]:
os.getcwd()

'/home/jovyan'

In [3]:
os.listdir()

['.bashrc',
 '.bash_logout',
 '.profile',
 '.local',
 '.jupyter',
 '.jupyter-server-log.txt',
 '.cache',
 'Python Sep 1.ipynb',
 '.ipynb_checkpoints',
 '.ipython',
 'SuperStore.txt',
 'SuperstoreNew.csv',
 'README.md',
 'Superstore1.csv',
 'Superstore.csv',
 'requirements.txt.txt',
 '.git',
 'Sample.xls']

In [5]:
Data= pd.read_csv('SuperstoreNew.csv',encoding='unicode_escape')

In [6]:
### First top 5 rows

Data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164